.content{
    display: flex;
    background-color: rgb(255, 249, 217);
    margin-left:100px;
    margin-right: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
    flex-direction: column;

}
.inicio-sesion{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: rgb(106, 195, 255);
    width: 30%;
    border-radius: 15px;
    padding: 30px;

}
.formulario{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(106, 195, 255);
    width: 75%;
    padding: 30px;
    border-radius: 15px;
}

.formulario h1, h2{
    padding-bottom: 20px;
}
.deportes{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 100px;
}

.deportes ul{
    width: 100%;
}
.noticias img{
    width: 25%;
}
#menu{
    width: 100%;
    height: 60px;
    border-bottom: 3px solid rgb(1, 176, 219);
    padding-bottom: 1px;
    background-color:rgb(250, 187, 71);
}

#menu li{
    text-decoration: black;
    padding-top: 8px;
}

#menu li:hover{
    background-color: white;
    border-radius: 5px;
}

.nav-link{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

body{
    background-image: url("../images/mascolores.jpg");
    align-content: center;
}
#nuestras_categorias img{
    width: 30%;
}
#nuestras_categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    margin-top: 50px;
}

.contenido-principal{
    padding: 60px;
    padding-bottom: 10px;
}

.titulo-principal{
    font-size: 40px;
    text-align: center;
}

.subtitle{
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.noticias{
    display: flex;
    flex-direction: column;
    align-items: center;
}